/**
 * Team: NKUsavesea
 * Coding by 张丽婷 2111190, 2023/12/19
 * 新闻页css
 */
 .news-title {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    position: relative;
    font-size: 14vw;
    color: #efe5d9;
    -webkit-text-stroke: 0.3vw #0e0322;
    text-transform: uppercase;
    width: 100%;
    overflow: hidden;
    
    animation: shake 2s infinite;
  }
  
  @keyframes shake {
    0% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
  
  
  .news-title::before {
    content: attr(data-text);
    position: absolute;
    top: 60%; /* 将位置向下移动 */
    left: 50%; /* 调整位置至中心 */
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    color: #fcb3a4; /* 修改动画文字颜色 */
    -webkit-text-stroke: 0vw #fcb3a4; /* 修改动画文字描边颜色 */
    border-right: 2px solid rgba(255, 140, 0, 0.6); /* 修正逗号为逗号*/
    overflow: hidden;
    animation: news-title-before 2s cubic-bezier(0.25, 1, 0.5, 1) alternate;
    filter: drop-shadow(0px 0px 10px rgba(255, 140, 0, 0.6)) blur(10px);
  }
  
  
  @keyframes news-title-before {
    0% {
      width: 0;
    }
    20%, 80% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  


.news-layout {
    display: flex;
}

.news-list {
    top: 200px;
    left: 150px;
    margin: 35px;
    width: 50%;
    padding: 0px;
    border-radius: 20px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.news-list>li {
    position: relative;
    list-style: none;
}

.news-item-title {
    height: 100%;
    font-size: 22px;
    position: relative;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.news-item-title::before {
    height: 100%;
    font-size: 22px;
    content: attr(data-text);
    position: absolute;
    color: #fff;
    overflow: hidden;
    width: 0;
    transition: 0.4s;
    border-right: 4px solid #fff;
}

.news-item-title:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px #fff);
}

.news-other {
    top: 200px;
    margin: 35px;
    width: 50%;
    min-height: 100vh;
    position: relative;
    border-right: 2px, solid rgb(99, 3, 255);
}


.search-line {
    position: absolute;
    left: 62px;
    bottom: 10px;
    width: 0px;
    height: 2px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.search-box {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    box-shadow: 0 2px 25px 0 rgba(255, 255, 255, 0.4);
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #222;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.4s;
}

.search-btn {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.search-box:hover .search-txt {
    width: 600px;
    padding: 0 12px;
}

.search-box:hover .search-btn {

    animation: rotate 0.4s linear;
}

.search-txt:focus {
    width: 600px;
    padding: 0 12px;
}

.search-txt:focus+.search-line {
    width: 600px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.news-loader {
    align-items: center;
    top: 200px;
    left: 100px;
    position: relative;
    width: 300px;
    height: 300px;
}

.loader-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(36deg * var(--i)));
}

.loader-span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #be8fe8;
    box-sizing: border-box;
    box-shadow: 0 0 20px #be8fe8,
        -30px -30px 0 #be8fe8,
        -30px -30px 20 #be8fe8,
        30px 30px 0 #be8fe8,
        30px 30px 20px #be8fe8,
        30px -30px 0 #be8fe8,
        30px -30px 20px #be8fe8,
        -30px 30px 0 #be8fe8,
        -30px 30px 20px #be8fe8;
    animation: animate2 5s linear infinite;
    animation-delay: calc(-0.25s * var(--i));
    transform-origin: 20px;
}

@keyframes animate2 {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}



.news-subject {
    position: absolute;
    top: 22%;
    left: 29%;
    color: #ffd8d4;
    line-height: 55px;
    font-size: 50px;
    text-shadow: 2px 3px 4px #ffd8d4;
}

.news-detail-title {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 20px;
    color: #00efff;
}

.news-detail-info {
    margin: 10px;
    font-size: 12px;
    color: aquamarine;
    font-weight: bold;
    text-align: center;
}

.news-detail-line {
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    color: #ffd8d4;
    margin: 20px 0;
  }
  
  .news-detail-line::before,
  .news-detail-line::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 200% 100%;
    animation: ripple 2s linear infinite;
  }
  
  .news-detail-line::before {
    left: 0;
    transform: translateY(-50%) translateX(-100%);
  }
  
  .news-detail-line::after {
    right: 0;
    transform: translateY(-50%) translateX(100%);
  }
  
  @keyframes ripple {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  



.news-detail-content {
    font-size: 20px;
    padding: 40px;
    line-height: 2em;
    text-indent: 40px;
    margin-bottom: 100px;
    color: white;
}

.news-retbtn {
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 280px;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
    font-size: 24px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
}

.news-retbtn::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, #03a9f4, #a422e0, #95278f, #e64043);
    background-size: 400%;
    border-radius: 50px;
    filter: blur(20px);
    z-index: -1;
}

.news-retbtn:hover {
    animation: sun 4s infinite;
}

.news-retbtn:hover::before {
    animation: sun 4s infinite;
}

@keyframes sun {
    100% {
        background-position: -400% 0;
    }
}



.event-title {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    position: relative;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    width: 100%;
}

.event-title::before {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    min-height: 30vh;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 23%;
    width: 0;
    height: 100%;
    color: rgba(99, 3, 255, 0.6);
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px, solid rgba(99, 3, 255, 0.6);
    overflow: hidden;
    animation: animate2 6s linear infinite;
    filter: drop-shadow(0px 0px 10px rgba(99, 3, 255, 0.6)) blur(10px);
}


@keyframes animate2 {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}







.back-layout {
    display: flex;
}

.back-list {
    top: 200px;
    left: 150px;
    margin: 35px;
    width: 50%;
    padding: 0px;
    border-radius: 20px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.back-list>li {
    position: relative;
    list-style: none;
}

.back-item-title {
    height: 100%;
    font-size: 22px;
    position: relative;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    color: #ffd8d4;
    -webkit-text-stroke: 1px #ffd8d4;
}

.back-item-title::before {
    height: 100%;
    font-size: 22px;
    content: attr(data-text);
    position: absolute;
    color: #ffd8d4;
    overflow: hidden;
    width: 0;
    transition: 0.4s;
    border-right: 4px solid #ffd8d4;
}

.back-item-title:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px #fff);
}